<section fxLayout="row" fxLayout.xs="column">
  <!-- historique des événements -->
  <mat-card fxFlex="40">
    <div class='bandeau' fxLayoutAlign='start center'>
      <h4 fxLayoutAlign='center center'>Historique</h4>
      </div>
      <app-message-affaire></app-message-affaire>
    </mat-card>
  <!-- table d'affaires -->
  <mat-card fxFlex="60">
      <div class='bandeau' fxLayoutAlign='space-between center'>
        <h4 fxLayoutAlign='center center'>Affaires</h4>
        <mat-radio-group>
          <mat-radio-button value="1" class='radio' checked>en cours</mat-radio-button>
          <mat-radio-button value="2" class='radio'>clôturées</mat-radio-button>
        </mat-radio-group>
      </div>
      <app-table-case></app-table-case>
  </mat-card>
</section>