<section fxLayout="row" fxLayout.xs="column">
  <!-- historique des événements -->
  <mat-card fxFlex="40">
      <div class="titrePage"><img src="assets/icones/icone-historique.png"/>&nbsp;&nbsp;&nbsp;<b>Historique</b></div>
      <app-message-affaire></app-message-affaire>
      <h4 style="text-align: center; color: rgb(184, 25, 25)">[Fonctionnalité à venir]</h4>
    </mat-card>
  <!-- table d'affaires -->
  <mat-card fxFlex="60">
      <div class="titrePage"><img src="assets/icones/icone-actuel.png"/>&nbsp;&nbsp;&nbsp;<b>Affaires en cours</b></div>
      <app-table-case></app-table-case>
  </mat-card>
</section>