<!-- formulaire d'authentification -->
<mat-card fxLayout="column">
  <form class="example-form" fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Identifiant">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Mot de passe">
    </mat-form-field>
  </form>
  <button mat-raised-button>Connexion</button>
  <a>mot de passe oublié?</a>
<!-- USER TESTING toggle-->
  <mat-slide-toggle [(ngModel)]="testMode">USER TESTING</mat-slide-toggle>
<!-- USER TESTING -->
  <mat-card style="background-color: pink;" *ngIf=(testMode)>
    <mat-form-field style="margin-top: 5px">
      <mat-select placeholder="Utilisateur">
        <mat-option *ngFor="let utilisateur of utilisateurs" [value]="utilisateur">
        {{ utilisateur }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
</mat-card>