<form #userForm="ngForm"
  (ngSubmit)="onSubmit(userForm)"
  fxLayout="column" class="container">
  <mat-form-field>
    <input matInput type="text" required
      placeholder="name" name="name"
      [(ngModel)]="cellule.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" required
      placeholder="model" name="model"
      [(ngModel)]="cellule.model">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" required
      placeholder="color" name="color"
      [(ngModel)]="cellule.color">
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!userForm.valid">Envoyer</button>
</form>