<section fxLayout='row' class="fond">
  <div fxFlex='70'>
<mat-card >
  <div fxLayout='row' fxLayout.xs='column'>
    <article fxFlex='40'>
      <h1 class="titreDetail">VEHICULE</h1>
      <h6 [ngStyle.xs]='title'>dernière mise à jour le {{vehicule?.updateDate | date: 'dd/MM/yyyy'}}</h6>
      <p>Marque : {{vehicule?.marque}}</p>
      <p>Modèle : {{vehicule?.model}}</p>
      <p>Couleur : {{vehicule?.color}}</p>
      <p>Plaque d'immatriculation : {{vehicule?.licensePlate}}</p>
      <p>Date de création : {{vehicule?.createDate | date: 'dd/MM/yyyy'}}</p>   
    </article>
    <mat-card fxFlex='60'>PHOTO</mat-card>
  </div>
  <h3 [ngStyle.xs]='title'>Affaire associées</h3>
  <app-table-vehicule></app-table-vehicule>
</mat-card>
<div  fxLayout="row" fxLayoutAlign="begin">
  <button mat-raised-button class="couleurBoutonForm" routerLink="edit"><mat-icon>mode_edit</mat-icon>&nbsp;Editer</button>&nbsp;&nbsp;&nbsp;
  <button mat-raised-button class="couleurBoutonForm" (click)="delete()"><mat-icon>warning</mat-icon>&nbsp;Supprimer</button>&nbsp;&nbsp;&nbsp;
  <button mat-raised-button class="couleurBoutonForm" (click)="backToList()"><mat-icon>reply</mat-icon>&nbsp;Retour</button>
</div>
</div>
<mat-card fxFlex='30'>
  <router-outlet></router-outlet>
</mat-card>
</section>
