<section fxLayout='row'>
  <div fxFlex='70'>
<mat-card >
  <div fxLayout='row' fxLayout.xs='column'>
    <article fxFlex='40'>
      <h1 [ngStyle.xs]='title'>VEHICULE</h1>
      <h6 [ngStyle.xs]='title'>dernière mise à jour le {{vehicule?.updateDate}}</h6>
      <p>Marque : {{vehicule?.marque}}</p>
      <p>Modèle : {{vehicule?.model}}</p>
      <p>Couleur : {{vehicule?.color}}</p>
      <p>Plaque d'immatriculation : {{vehicule?.licensePlate}}</p>
      <p>Date de création : {{vehicule?.createDate}}</p>   
    </article>
    <mat-card fxFlex='60'>PHOTO</mat-card>
  </div>
  <h3 [ngStyle.xs]='title'>Affaire associées</h3>
  <app-table-vehicule></app-table-vehicule>
</mat-card>
<div  fxLayout="row" fxLayoutAlign="end">
  <button mat-raised-button color="accent" routerLink="edit">Editer</button>
  <button mat-raised-button color="accent" (click)="delete()">Supprimer</button>
<button mat-raised-button (click)="backToList()" color="accent">Retour</button>
</div>
</div>
<mat-card fxFlex='30'>
  <router-outlet></router-outlet>
</mat-card>
</section>
<button mat-raised-button (click)="testVehicule()">TEST</button>