<form #userForm="ngForm"
  (ngSubmit)="onSubmit(userForm)"
  fxLayout="column" class="container">
  <mat-form-field>
    <input matInput type="text" required
      placeholder="name" name="name" [(ngModel)]="policeCase.name" id="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" required
      placeholder="description" name="description" [(ngModel)]="policeCase.description" id="description">
  </mat-form-field>
  <button mat-raised-button type="submit" (click)="postman()">Envoyer</button>
</form>
