<section fxLayout="row" fxLayout.xs="column">
  <mat-card fxFlex="40">
    <h2>Affaire {{affaire.name}}</h2>
    <h4>Description
        <button mat-mini-fab (click)="editDescription()">
            <mat-icon>mode_edit</mat-icon>
          </button>
    </h4>
    <mat-card *ngIf="!editModeDescription">
      <p>{{affaire.description}}</p>
    </mat-card> 
    <form *ngIf="editModeDescription">
        <mat-form-field>
          <textarea matInput value={{affaire.description}}></textarea>
        </mat-form-field>
    </form>
  </mat-card>
<mat-card fxFlex="60">
  <h4>Historique</h4>
  <app-message-affaire></app-message-affaire>
</mat-card>
</section>
<mat-card>
  <h4>Sections</h4>
  <app-explore-tables></app-explore-tables>
</mat-card>