<mat-table [dataSource]="pieceOfEvidenceSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Idenftifiant</mat-header-cell>
    <mat-cell *matCellDef="let row"></mat-cell> 
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef fxHide.xs>Date d'intégration</mat-header-cell>
    <mat-cell *matCellDef="let row" fxHide.xs>{{row.date}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef fxHide.xs>Description</mat-header-cell>
    <mat-cell *matCellDef="let row" fxHide.xs>{{row.description}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="button">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row"><button mat-raised-button color="accent">Accéder</button></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="pieceOfEvidenceColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: pieceOfEvidenceColumns"></mat-row>
</mat-table>