<mat-table [dataSource]="pieceOfEvidenceSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
    <mat-cell *matCellDef="let photo">{{photo.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="comment">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let photo">{{photo.comment}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="pieceOfEvidenceColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: pieceOfEvidenceColumns"></mat-row>
</mat-table>