<mat-table [dataSource]="vehiculeSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef fxHide.xs>Identifiant</mat-header-cell>
    <mat-cell *matCellDef="let row" fxHide.xs>{{row.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef fxHide.xs>Date</mat-header-cell>
    <mat-cell *matCellDef="let row" fxHide.xs>{{row.date}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="brand">
    <mat-header-cell *matHeaderCellDef fxHide.xs>Marque</mat-header-cell>
    <mat-cell *matCellDef="let row" fxHide.xs>{{row.brand}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="color">
    <mat-header-cell *matHeaderCellDef fxHide.xs>Couleur</mat-header-cell>
    <mat-cell *matCellDef="let row" fxHide.xs>{{row.color}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="licensePlate">
    <mat-header-cell *matHeaderCellDef fxHide.xs>Immatriculation</mat-header-cell>
    <mat-cell *matCellDef="let row" fxHide.xs>{{row.licensePlate}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef fxHide.xs>Description</mat-header-cell>
      <mat-cell *matCellDef="let row" fxHide.xs>{{row.description}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="button">
      <mat-header-cell *matHeaderCellDef><button mat-raised-button color="warn">Nouveau</button></mat-header-cell>
      <mat-cell *matCellDef="let row"><button mat-raised-button color="accent" (click)="openDialog(row)">Accéder</button></mat-cell>
    </ng-container>
  <mat-header-row *matHeaderRowDef="vehiculeColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: vehiculeColumns"></mat-row>
</mat-table>