<!-- header -->
<div class="container">
<mat-toolbar>
    <mat-toolbar-row>
        <button mat-button id="navButton" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="logo" routerLink="/dashboard" fxLayoutAlign="center">POLICE</h1>
    </mat-toolbar-row>
</mat-toolbar>

<!-- barre de navigation -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode='over'>
<!-- contenu du menu de navigation -->
<!-- Identité utilisateur -->
        <img src="assets/images/UserIcon.png" class="userIcon" style="text-align: center"/>
        <h4 class="nom">Gérôme Grignon</h4>
        <h6 class="matricule">Agent n°0860</h6>
<!-- liens de navigation -->
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" (click)="sidenav.close()">Tableau de bord</a>
            <a mat-list-item routerLink="/newcase" (click)="sidenav.close()">Créer Affaire</a>
            <a mat-list-item routerLink="/vehicules" (click)="sidenav.close()">Véhicules</a>
            <a mat-list-item routerLink="/pieceOfEvidence" (click)="sidenav.close()">Pièces à conviction</a>
            <a mat-list-item routerLink='/cellules' (click)='sidenav.close()'>Cellules</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
<!-- routage de l'application -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
