<!-- header -->
<mat-toolbar>
    <mat-toolbar-row fxLayout="row">
        <button mat-button><mat-icon (click)="sidenav.toggle()" fxFlex="20">menu</mat-icon></button>
        <h1 class="logo" [ngStyle.xs]="{'font-size.px': 30}" fxFlex="80">POLICE</h1>
    </mat-toolbar-row>   
</mat-toolbar>

<!-- barre de navigation -->
<mat-sidenav-container>
    <mat-sidenav #sidenav mode='over'>
        <app-navigation></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content style="background-color: #6ec6ff">
<!-- routage de l'application -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
