<mat-table [dataSource]=weaponSource>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Identifiant</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.date}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="brand">
    <mat-header-cell *matHeaderCellDef>Marque</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.brand}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="serial">
    <mat-header-cell *matHeaderCellDef>N° de série</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.serial}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="button">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row"><button mat-raised-button color="accent">Accéder</button></mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="weaponColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: weaponColumns"></mat-row>
</mat-table>