.userIcon {
    height: 120px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
}

.nom {
    text-align: center;
    margin: 0px;
}

.matricule {
    text-align: center;
    margin-top: 0px;
}