/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0069c0;
    margin: 0px;
}

.mat-card {
    margin: 10px;
}

.logo {
    font-family: 'Ultra', serif;
    font-size: 60px;
}

button {
    color: #ff6d00;
}


