<h4 style="text-align: center; color: rgb(184, 25, 25)">[Fonctionnalité à venir]</h4>
<mat-table [dataSource]="messageAffaireSource">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef class="taillePoliceTitreTableau">Date</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.date}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef class="taillePoliceTitreTableau" fxHide.xs>Nom hhhhhhhhhh</mat-header-cell>
    <mat-cell *matCellDef="let row" fxHide.xs>{{row.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef class="taillePoliceTitreTableau">Description</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="messageAffaireColumns" class="titreTableau"></mat-header-row>
  <mat-row *matRowDef="let row; columns: messageAffaireColumns"></mat-row>
</mat-table>

<!-- pagination -->
<mat-paginator #paginator
                [pageSize]=8
                [pageSizeOptions]="[5, 10, 20]"
                [showFirstLastButtons]="true">
</mat-paginator>
<h4 style="text-align: center; color: rgb(184, 25, 25)">[Fonctionnalité à venir]</h4>